{% extends 'home.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="{% static 'cart.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    {% if cart_items %}
    <h2>My cart <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQSIsZKbGWXOjKoTotnr7HbVyuqjogVzR9Rw&usqp=CAU"
            height=40px; width=40px;></h2>
</div>
<ul class="lit-group">
    {% for cart_item in cart_items %}
    <div class="card border-dark mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ cart_item.book.image_url }}" class="card-img" alt="{{ cart_item.book.title }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ cart_item.book.title }}</h5>
                    <p>Price: {{ cart_item.book.price }} per book</p>
                    <p>Quantity: {{ cart_item.quantity }}</p>
                    <p>Total: {{ cart_item.total_price }}</p>

                    <a class="btn btn-outline-primary" href="" onclick="alert('Payment Successfull')">Buy</a></p>
                    <a class="btn btn-outline-danger" href="{% url 'remove_from_cart' book_id=cart_item.book.id %}" onclick="alert('Item removed from cart')">Remove from cart</a>

                </div>
            </div>
        </div>
    </div>


    {% endfor %}
    <!--    <p>Total: {{ cart_items.0.cart.total_price }}-->
    <!--    <a class="btn btn-outline-primary" href="" onclick="alert('Payment Successfull')">Buy</a></p>-->
    {% else %}
    <p>Your Cart is empty</p>
    <a href="{% url 'list' %}">Continue Shopping</a>

</ul>
{% endif %}



</body>
</html>

{% endblock content %}